body {
    font-family: Arial;
    font_size:18px;
}

h1, h2{
    color:rgb(66, 36, 163);
}

h1{
    font-size:40px;
}

h2{
    font-size: 25px;
}


.main-text{
    text-align: justify;
}

.author-text{
    font-size: 32px;
    text-align: justify;

}